.input,
.select,
.textarea {
  width: 100%;
  background-color: var(--color-background);
  border: 2px solid var(--color-text);
  color: var(--color-text);
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  display: block;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem;
}
.input:focus,
.select:focus,
.textarea:focus {
  border: 2px solid #0071de;
}
.select {
  height: 2.35rem;
}
.disabled,
.input.disabled,
.input[disabled],
.select.disabled,
.select[disabled],
.textarea.disabled,
.textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
