@import url('https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC');

html {
  font-family: Neucha, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  box-sizing: content-box;
  overflow: visible;
}

hr {
  border: 0;
}
hr::after {
  color: var(--color-after-content);
  content: var(--content-line);
  display: block;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  top: -0.75rem;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a,
button,
input,
option,
p,
select,
table,
tbody,
td,
textarea,
th,
thead,
tr {
  font-family: Neucha, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Patrick Hand SC', sans-serif;
  font-weight: 400;
}

code {
  background-color: #f2f2f2;
  border-radius: 3px;
  color: #0071de;
  font-size: 80%;
  padding: 2px 4px;
}
kbd {
  background-color: #41403e;
  border-radius: 3px;
  color: #fff;
  font-size: 80%;
  padding: 2px 4px;
}
pre {
  background-color: #fafafa;
  border: 1px solid #c1c0bd;
  border-radius: 3px;
  color: #41403e;
  display: block;
  font-size: 80%;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  background: 0 0;
  color: inherit;
  display: block;
  font-size: inherit;
  padding: initial;
  white-space: pre;
}

.paper {
  background-color: var(--color-background);
  border: 1px solid #c1c0bd;
  box-shadow: -1px 5px 35px -9px var(--color-box-shadow);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 2rem;
}
@media only screen and (max-width: 480px) {
  .paper {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1rem;
    width: 100%;
  }
}

/* FORMS */
.form-group {
  margin-bottom: 1rem;
}
.form-group > label,
.form-group legend {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* FLEX */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
}
.flex-edges {
  justify-content: space-between;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.col-fill {
  flex: 1 1 0;
  width: auto;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 90%;
}
@media only screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .container {
    width: 85%;
  }
}

.section {
  margin-bottom: 1.5rem;
  word-wrap: break-word;
}

.section::after {
  color: var(--color-after-content);
  content: var(--content-line);
  display: block;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
}

/* UTILS */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-strike {
  text-decoration: line-through;
}
.text-primary {
  color: #41403e;
}
.background-primary {
  background-color: #c1c0bd;
}
.text-secondary {
  color: #0071de;
}
.background-secondary {
  background-color: #deefff;
}
.text-success {
  color: #86a361;
}
.background-success {
  background-color: #d0dbc2;
}
.text-warning {
  color: #ddcd45;
}
.background-warning {
  background-color: #f5f0c6;
}
.text-danger {
  color: #a7342d;
}
.background-danger {
  background-color: #f0cbc9;
}
.text-muted {
  color: var(--color-text-muted);
}
.background-muted {
  background-color: var(--color-background-muted);
}

.shadow {
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px var(--color-box-shadow);
}
.shadow.shadow-large {
  transition: all 235ms ease 0s;
  box-shadow: 20px 38px 34px -26px var(--color-box-shadow);
}
.shadow.shadow-small {
  transition: all 235ms ease 0s;
  box-shadow: 10px 19px 17px -13px var(--color-box-shadow);
}
.shadow.shadow-hover:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
}
